<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.favorite.model.mapper.FavoriteMapper">
    <!-- 병원 조회 -->
    <select id="findHospitalById" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT HPID, DUTY_NAME, DUTY_ADDR, DUTY_TEL1
        FROM HOSPITAL_TBL
        WHERE HPID = #{hpid}
    </select>

    <!-- 약국 조회 -->
    <select id="findPharmacyById" resultType="com.emginfo.emgnavi.pharmacy.vo.Pharmacy">
        SELECT HPID, DUTY_NAME, DUTY_ADDR, DUTY_TEL1
        FROM PHARMACY_TBL
        WHERE HPID = #{hpid}
    </select>

    <insert id="addFavorite">
        INSERT INTO FAVORITE_TBL (ID, REF_NO, DUTY_NAME, DUTY_ADDR, DUTY_TEL1)
        VALUES (#{id}, #{refNo}, #{dutyName}, #{dutyAddr}, #{dutyTel1})
    </insert>
</mapper>