<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.hospital.mapper.HospitalMapper">

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM HOSPITAL_TBL
    </select>

    <select id="selectHospitalList" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        ORDER BY HPID
    </select>

    <select id="selectHospitalDetail" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        WHERE HPID = #{hpid}
    </select>

    <select id="searchHospital" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        WHERE 1=1
        <if test="dutyName != null and dutyName != ''">
            AND DUTY_NAME LIKE '%' || #{dutyName} || '%'
        </if>
        <if test="dutyAddr != null and dutyAddr != ''">
            AND DUTY_ADDR LIKE '%' || #{dutyAddr} || '%'
        </if>
        ORDER BY ITEM_SEQ
    </select>

    <select id="getSearchResultCount" resultType="int">
        SELECT COUNT(*) FROM HOSPITAL_TBL
        WHERE 1=1
        <if test="dutyName != null and dutyName != ''">
            AND DUTY_NAME LIKE '%' || #{dutyName} || '%'
        </if>
        <if test="dutyAddr != null and dutyAddr != ''">
            AND DUTY_ADDR LIKE '%' || #{dutyAddr} || '%'
        </if>
    </select>

    <select id="searchDutyNames" resultType="java.util.Map">
        SELECT HPID as hpid, DUTY_NAME as dutyName
        FROM HOSPITAL_TBL
        WHERE DUTY_NAME LIKE '%' || #{query} || '%'
        AND ROWNUM &lt;= 10  <!-- 최대 10개까지만 반환 -->
        ORDER BY DUTY_NAME
    </select>

    <select id="searchDutyAddr" resultType="java.util.Map">
        SELECT DISTINCT DUTY_ADDR as dutyAddr
        FROM HOSPITAL_TBL
        WHERE DUTY_ADDR LIKE '%' || #{query} || '%'
          AND ROWNUM &lt;= 10
        ORDER BY DUTY_ADDR
    </select>


</mapper>