<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.hospital.mapper.HospitalMapper">

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) FROM HOSPITAL_TBL
    </select>

    <select id="selectHospitalList" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        ORDER BY HPID
    </select>

    <select id="selectHospitalDetail" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        WHERE HPID = #{hpid}
    </select>

    <select id="searchHospital" resultType="com.emginfo.emgnavi.hospital.vo.Hospital">
        SELECT * FROM HOSPITAL_TBL
        WHERE 1=1
        <if test="itemName != null and itemName != ''">
            AND ITEM_NAME LIKE '%' || #{itemName} || '%'
        </if>
        <if test="entpName != null and entpName != ''">
            AND ENTP_NAME LIKE '%' || #{entpName} || '%'
        </if>
        ORDER BY ITEM_SEQ
    </select>

    <select id="getSearchResultCount" resultType="int">
        SELECT COUNT(*) FROM HOSPITAL_TBL
        WHERE 1=1
        <if test="itemName != null and itemName != ''">
            AND ITEM_NAME LIKE '%' || #{itemName} || '%'
        </if>
        <if test="entpName != null and entpName != ''">
            AND ENTP_NAME LIKE '%' || #{entpName} || '%'
        </if>
    </select>

    <select id="searchItemNames" resultType="java.util.Map">
        SELECT ITEM_SEQ as itemSeq, ITEM_NAME as itemName
        FROM HOSPITAL_TBL
        WHERE ITEM_NAME LIKE '%' || #{query} || '%'
        AND ROWNUM &lt;= 10  <!-- 최대 10개까지만 반환 -->
        ORDER BY ITEM_NAME
    </select>

    <select id="searchEntpNames" resultType="java.util.Map">
        SELECT DISTINCT ENTP_NAME as entpName
        FROM HOSPITAL_TBL
        WHERE ENTP_NAME LIKE '%' || #{query} || '%'
          AND ROWNUM &lt;= 10
        ORDER BY ENTP_NAME
    </select>


</mapper>