<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.map.mapper.MapMapper">
    <select id="getAroundEmgRoomList" resultType="Hospital">
        SELECT * FROM HOSPITAL_TBL
                 WHERE
                     WGS_84_LON BETWEEN ${minLon} AND ${maxLon} AND
                     WGS_84_LAT BETWEEN ${minLat} AND ${maxLat} AND
                     DUTY_ERYN = 1
    </select>
    <select id="getAroundHospitalList" resultType="Hospital">
        SELECT * FROM HOSPITAL_TBL
                 WHERE
                     WGS_84_LON BETWEEN ${minLon} AND ${maxLon} AND
                     WGS_84_LAT BETWEEN ${minLat} AND ${maxLat} AND
    </select>
    <select id="getAroundAedList" resultType="Aed">
        SELECT * FROM AED_TBL
        WHERE
            WGS84_LON BETWEEN ${minLon} AND ${maxLon} AND
            WGS84_LAT BETWEEN ${minLat} AND ${maxLat}
    </select>
    <select id="getAroundPharmacyList" resultType="Pharmacy">
        SELECT * FROM PHARMACY_TBL
        WHERE
            TO_NUMBER(POST_CDN1) BETWEEN ${minLon} AND ${maxLon} AND
            TO_NUMBER(POST_CDN2) BETWEEN ${minLat} AND ${maxLat}
    </select>
</mapper>