<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.notice.mapper.NoticeMapper">
    <!--공지사항 등록-->
    <insert id="postNotice">
        INSERT INTO NOTICE_TBL VALUES (SEQ_NOTICE_NO.nextval, #{writerId}, #{noticeTitle}, #{noticeContents}, DEFAULT, #{noticeMarkdown})
    </insert>
    <update id="putNotice">
        UPDATE NOTICE_TBL
        SET NOTICE_TITLE = #{noticeTitle}, NOTICE_CONTENTS = #{noticeContents}, NOTICE_MARKDOWN = #{noticeMarkdown}
        WHERE NOTICE_ID = #{noticeId}
    </update>

    <select id="getNoticeList">
        SELECT *
        FROM NOTICE_TBL
        ORDER BY NOTICE_DATE DESC
    </select>

    <select id="getListTotalCount" resultType="int">
        SELECT COUNT(*) FROM NOTICE_TBL
    </select>

    <select id="getNoticeDetail">
        SELECT * FROM NOTICE_TBL WHERE NOTICE_ID = #{noticeId}
    </select>

    <delete id="deleteNotice">
        DELETE FROM NOTICE_TBL WHERE NOTICE_ID = #{noticeId}
    </delete>

    <select id="searchNotice" resultType="com.emginfo.emgnavi.notice.vo.Notice">
        SELECT * FROM NOTICE_TBL
        WHERE 1=1
        <if test="title != null and title != ''">
            AND NOTICE_TITLE LIKE '%' || #{title} || '%'
        </if>
        <if test="writer != null and writer != ''">
            AND WRITER_ID LIKE '%' || #{writer} || '%'
        </if>
        ORDER BY NOTICE_DATE DESC
    </select>

    <select id="getSearchResultCount" resultType="int">
        SELECT COUNT(*) FROM NOTICE_TBL
        WHERE 1=1
        <if test="title != null and title != ''">
            AND NOTICE_TITLE LIKE '%' || #{title} || '%'
        </if>
        <if test="writer != null and writer != ''">
            AND WRITER_ID LIKE '%' || #{writer} || '%'
        </if>
    </select>

    <select id="searchTitle" resultType="java.util.Map">
        SELECT NOTICE_TITLE as noticeTitle
        FROM NOTICE_TBL
        WHERE NOTICE_TITLE LIKE '%' || #{query} || '%'
        AND ROWNUM &lt;= 10  <!-- 최대 10개까지만 반환 -->
        GROUP BY NOTICE_TITLE
--         ORDER BY NOTICE_DATE DESC
    </select>

    <select id="searchWriter" resultType="java.util.Map">
        SELECT DISTINCT WRITER_ID as writerId
        FROM NOTICE_TBL
        WHERE WRITER_ID LIKE '%' || #{query} || '%'
          AND ROWNUM &lt;= 10
        GROUP BY WRITER_ID
--         ORDER BY NOTICE_DATE DESC
    </select>

    <select id="getBetweenNotice" resultType="java.util.Map">
        WITH LAG_LEAD_NOTICE AS (
            SELECT
                NOTICE_ID,
                LAG(NOTICE_ID, 1, NULL) OVER (ORDER BY NOTICE_ID) AS prev,
                    LEAD(NOTICE_ID, 1, NULL) OVER (ORDER BY NOTICE_ID) AS next
            FROM NOTICE_TBL
        )
        SELECT *
        FROM LAG_LEAD_NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </select>
</mapper>