<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.report.model.mapper.ReportMapper">
    <insert id="insertReport">
        INSERT INTO REPORT_TBL (NO, WRITER_ID, REPORTER_ID, REF_NO, CONTENT, STATUS, REF_DATE)
        VALUES (SEQ_REPORT_NO.NEXTVAL, #{writerId}, #{reporterId}, #{refNo}, #{content}, #{status}, #{refDate});
    </insert>
</mapper>