<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.review.mapper.ReviewMapper">

    <insert id="postReview">
        INSERT INTO REVIEW_TBL VALUES (SEQ_REVIEW_NO.nextval, #{writerId}, #{refNo}, #{rating}, #{content}, DEFAULT)
    </insert>

    <select id="getReviewListByRefNo">
        SELECT * FROM REVIEW_TBL WHERE REF_NO = #{refNo}
    </select>

    <select id="getReviewOneByNo">
        SELECT * FROM REVIEW_TBL WHERE NO = #{no}
    </select>

    <delete id="deleteReview">
        DELETE REVIEW_TBL WHERE NO = #{no}
    </delete>

</mapper>
