<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emginfo.emgnavi.user.model.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO USER_TBL
        VALUES(#{userId}, #{userNickname}, #{userPw}, #{userPhone}, #{userName}, #{userGender}, #{userAddress}, null, #{marketingAgree})
    </insert>
    <select id="checkIdDuplicate" resultType="int">
        SELECT COUNT(*) FROM USER_TBL WHERE USER_ID = #{userId}
    </select>
    <select id="checkNicknameDuplicate" resultType="int">
        SELECT COUNT(*) FROM USER_TBL WHERE USER_NICKNAME = #{userNickname}
    </select>

    <select id="selectIdByPhone" resultType="User">
        SELECT * FROM USER_TBL WHERE USER_PHONE = #{userPhone}
    </select>
    <select id="checkLogin" resultType="User">
        SELECT * FROM USER_TBL WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>
    <select id="selectUserById" resultType="User">
        SELECT * FROM USER_TBL WHERE USER_ID = #{userId}
    </select>
    <update id="modifyUser">
        UPDATE USER_TBL
        SET
            USER_NICKNAME = #{userNickname},
            USER_ADDRESS = #{userAddress},
            USER_GENDER = #{userGender},
            MARKETING_AGREE = #{marketingAgree}
        WHERE
            USER_ID = #{userId}
    </update>
    <update id="changePw">
        UPDATE USER_TBL
        SET USER_PW = #{userPw}
        WHERE USER_ID = #{userId}
    </update>
    <insert id="saveResetToken">
        INSERT INTO TOKEN_TBL
        VALUES(#{tokenId}, #{userId}, DEFAULT)
    </insert>
    <select id="selectTokenById" resultType="Token">
        SELECT * FROM TOKEN_TBL WHERE TOKEN_ID = #{token_id}
    </select>
    <delete id="deleteToken">
        DELETE FROM TOKEN_TBL WHERE TOKEN_ID = #{token_id}
    </delete>
    <delete id="deleteUser">
        DELETE FROM USER_TBL WHERE USER_ID = #{userId}
    </delete>
    <update id="changePhone">
        UPDATE USER_TBL
        SET USER_PHONE = #{userPhone}
        WHERE USER_ID = #{userId}
    </update>

</mapper>